/*.active{
	display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.carousel.active{
    display:block;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}*/

* {
  font-family: "Nunito", sans-serif;
}

.carousel-item.active.flexcards {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.deliveryFlex {
  display: flex;
  align-items: center;
  margin: 30px 0px;
}

.footer {
  background-color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

.tituloSeccion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 70px 20px 20px 40px;
}

.footerTitle {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

.navFlotante {
  position: absolute;
  z-index: 1;
  top: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.29);
  max-width: 880px;
  left: 20vw;
}

.text-slider {
  position: absolute;
  top: 45%;
  color: white;
  left: 20%;
  font-size: 30px;
}

.text-slider span {
  font-size: 50px;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.margenContenido {
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.29);
  border-radius: 85px;
}

.botonCuenta {
  background: none !important;
  color: #000000;
  border: none;
  text-transform: uppercase;
}

.dropdown-toggle::after {
  display: none;
}

.botonCuenta:hover {
  color: #000000;
}

.botonCuenta:active {
  color: #000000;
}

a.nav-link {
  font-family: "Nunito", sans-serif;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: 30px;
  color: black;
}

.botonExplorar {
  border-radius: 50px;
  padding: 5px 70px;
  font-size: 20px;
  border: none;
  outline: none;
  background: #fdfdfd;
}

.contentFood {
  left: 40px !important;
  position: relative;
  width: 650px;
}

.botonExplorarDos {
  border-radius: 50px;
  padding: 5px 70px;
  font-size: 20px;
  border: none;
  outline: none;
  background: #fdfdfd;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.29);
  text-decoration: none;
  color: black !important;
}

.btnVer {
  cursor: pointer;
}

dialog::backdrop {
  background: rgba(47, 48, 58, 0.8);
}

#modal {
  position: fixed;
  /* top: 50%;
  left: 47.5%; */
  margin: auto auto;
  width: 50%;
  height: 100%;
  border: 2px solid black;
  border-radius: 5px;
  transition: 0.4s;
  box-shadow: 6px 5px 6px 1px rgba(355, 355, 355, 0.7);
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8));
}

.container--soon {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.article--soon {
  color: aliceblue;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.7);
}

.hr--soon {
  margin: 0 auto;
  width: 60%;
}

.menu--soon>h3 {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 3em;
  color: white;
}

.menu--soon>ul {
  list-style-image: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check-circle' class='svg-inline--fa fa-check-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%2315aabf' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'></path></svg>");

  margin-top: 4em;

  & li {
    margin-bottom: 3em;
    font-weight: bold;
    color: white;
  }
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px;
  border: 2px solid black;
  border-radius: 5px;
  background: transparent;
  color: white;
  transition: 0.4s;

  &:hover {
    color: black;
    background: aliceblue;
    font-weight: bold;
    border: 1px solid black;
    transform: scale(1.1);
    transition: 0.4s;
    box-shadow: 3px 3px 3px 1px rgba(355, 355, 355, 0.4);
    transition: 0.4s;
  }
}

.tituloFood {
  font-size: 35px;
  font-weight: bold;
}

.textoSolicitar {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.deliveryContent {
  position: relative;
  left: -20%;
}

.soonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.3em;
}

i.bi.bi-telephone {
  font-size: 30px;
  margin-right: 15px;
}

i.bi.bi-geo-alt-fill {
  font-size: 30px;
  margin-right: 15px;
}

i.bi.bi-youtube {
  font-size: 30px;
}

i.bi.bi-facebook {
  font-size: 30px;
}

i.bi.bi-instagram {
  font-size: 30px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.social i {
  padding-right: 30px;
}

.card-text {
  font-size: 23px;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-item-next {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.carousel-item-end {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.textoFooter {
  text-align: left;
  font-size: 15px;
  padding-right: 45px;
}

.carousel-control-next-icon {
  background-color: white;
  padding: 25px;
  box-shadow: 0px 0px 13px -4px rgb(0 0 0 / 55%);
  background-size: 30px;
  border-radius: 50px;
  background-position: 16px;
}

.carousel-control-prev-icon {
  background-color: white;
  padding: 25px;
  box-shadow: 0px 0px 13px -4px rgb(0 0 0 / 55%);
  background-size: 30px;
  border-radius: 50px;
  background-position: 12px;
}

.titulo {
  font-weight: bold;
  font-size: 35px;
}

hr {
  width: 90% !important;
  border: 2px solid #000000;
  opacity: 1;
  margin-top: 3px;
}

a.nav-link:hover::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: black;
  display: block;
  position: absolute;
}

a.nav-link:hover {
  font-weight: bold;
}

.colorSelect {
  position: fixed;
  top: 0px;
  left: 2px;
  width: 250px;
  height: 85px;
  background: black;
  z-index: 20;
  color: white;
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
  text-align: center;
}

.colorRed {
  display: contents;
  color: red;
}

.colorBlue {
  display: contents;
  color: blue;
}

.colorYellow {
  display: contents;
  color: yellow;
}

.containerColors {
  display: flex;
  justify-content: space-around;
}